In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

<h2>Preparing the train data<h2>

In [2]:
train_data = pd.read_csv('data_train.csv')
train = train_data #no need to print

In [3]:
train.info() #Check for null, if there are null - use dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202944 entries, 0 to 202943
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Id                    202944 non-null  int64
 1   HighBP                202944 non-null  int64
 2   HighChol              202944 non-null  int64
 3   CholCheck             202944 non-null  int64
 4   BMI                   202944 non-null  int64
 5   Smoker                202944 non-null  int64
 6   Stroke                202944 non-null  int64
 7   HeartDiseaseorAttack  202944 non-null  int64
 8   PhysActivity          202944 non-null  int64
 9   Fruits                202944 non-null  int64
 10  Veggies               202944 non-null  int64
 11  HvyAlcoholConsump     202944 non-null  int64
 12  AnyHealthcare         202944 non-null  int64
 13  NoDocbcCost           202944 non-null  int64
 14  GenHlth               202944 non-null  int64
 15  MentHlth              202944 non-null  int64
 16  PhysHlth              202944 non-null  int64
 17  DiffWalk              202944 non-null  int64
 18  Sex                   202944 non-null  int64
 19  Age                   202944 non-null  int64
 20  Education             202944 non-null  int64
 21  Income                202944 non-null  int64
 22  ExtraMedTest          202944 non-null  int64
 23  ExtraAlcoholTest      202944 non-null  int64
 24  Status                202944 non-null  int64
dtypes: int64(25)
memory usage: 38.7 MB

<h2>Split into input & output<h2>

In [4]:
X = train.drop(columns=['Status'])
y = train['Status']

In [5]:
y.describe()

count    202944.000000
mean          0.175571
std           0.380455
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Status, dtype: float64

<h2>Prepare the test set<h2>

In [6]:
test_data = pd.read_csv('data_test.csv')
X_test = test_data.drop(columns=['Status'])
X_test.info() #check for null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50736 entries, 0 to 50735
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    50736 non-null  int64
 1   HighBP                50736 non-null  int64
 2   HighChol              50736 non-null  int64
 3   CholCheck             50736 non-null  int64
 4   BMI                   50736 non-null  int64
 5   Smoker                50736 non-null  int64
 6   Stroke                50736 non-null  int64
 7   HeartDiseaseorAttack  50736 non-null  int64
 8   PhysActivity          50736 non-null  int64
 9   Fruits                50736 non-null  int64
 10  Veggies               50736 non-null  int64
 11  HvyAlcoholConsump     50736 non-null  int64
 12  AnyHealthcare         50736 non-null  int64
 13  NoDocbcCost           50736 non-null  int64
 14  GenHlth               50736 non-null  int64
 15  MentHlth              50736 non-null  int64
 16  PhysHlth              50736 non-null  int64
 17  DiffWalk              50736 non-null  int64
 18  Sex                   50736 non-null  int64
 19  Age                   50736 non-null  int64
 20  Education             50736 non-null  int64
 21  Income                50736 non-null  int64
 22  ExtraMedTest          50736 non-null  int64
 23  ExtraAlcoholTest      50736 non-null  int64
dtypes: int64(24)
memory usage: 9.3 MB

<h2>Create train and validate data<h2>

In [7]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets (train 80%, test 20%)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest
103082,103082,1,1,1,28,1,1,0,0,0,...,4,0,30,1,1,8,5,3,-56,0
113672,113672,0,0,1,33,0,0,0,1,1,...,2,0,0,1,0,7,5,8,97,52
157830,157830,1,1,1,29,1,0,0,0,1,...,3,0,3,0,0,9,5,3,-181,62
131054,131054,1,0,1,25,0,0,0,1,1,...,3,0,0,0,0,12,4,5,-33,-118
66930,66930,0,0,1,23,0,0,0,1,1,...,1,0,0,0,0,3,4,6,92,-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119879,119879,0,0,1,29,0,0,0,1,1,...,1,0,0,0,1,3,5,7,-34,0
103694,103694,0,0,1,23,0,0,0,1,1,...,1,0,0,0,0,2,5,8,-95,-9
131932,131932,0,0,1,35,0,0,0,0,1,...,2,0,0,0,0,8,6,6,0,0
146867,146867,1,0,1,29,1,0,0,0,1,...,1,0,0,0,1,13,4,5,-44,36
121958,121958,1,0,1,36,0,0,0,1,0,...,4,10,4,0,1,6,6,8,37,-58

In [9]:
X_val

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest
157246,157246,1,0,1,32,1,0,1,1,1,...,4,0,3,0,1,10,6,8,17,74
181146,181146,0,0,1,20,0,0,0,1,1,...,3,0,0,0,0,10,4,4,-80,100
137935,137935,0,1,1,34,0,0,0,1,1,...,3,0,0,0,0,9,6,4,183,77
105513,105513,0,0,1,25,1,0,0,1,0,...,2,0,1,0,0,7,6,6,-168,0
156522,156522,1,0,1,45,1,0,0,1,0,...,3,0,0,0,1,10,6,8,-137,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107627,107627,0,0,1,21,0,0,0,1,0,...,2,2,0,0,0,6,6,8,-76,12
60364,60364,1,1,1,35,0,0,0,0,0,...,4,30,25,1,0,12,4,7,31,-109
11256,11256,0,0,1,24,0,0,0,1,1,...,2,0,0,0,1,7,6,8,-9,-93
142150,142150,1,1,1,33,0,0,0,0,1,...,2,0,1,0,0,13,6,6,78,33
197165,197165,1,1,1,28,0,0,0,1,1,...,2,0,0,0,0,11,5,5,-81,0

In [10]:
y_train.info()
y_val.info()

<class 'pandas.core.series.Series'>
Index: 162355 entries, 103082 to 121958
Series name: Status
Non-Null Count   Dtype
--------------   -----
162355 non-null  int64
dtypes: int64(1)
memory usage: 2.5 MB
<class 'pandas.core.series.Series'>
Index: 40589 entries, 157246 to 197165
Series name: Status
Non-Null Count  Dtype
--------------  -----
40589 non-null  int64
dtypes: int64(1)
memory usage: 634.2 KB

<h2>Import evalutaion libraries<h2>

In [11]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

<h2>Decision Trees<h2>

In [12]:
from sklearn.tree import DecisionTreeClassifier

# Train model
tree_model = DecisionTreeClassifier(max_depth=15)
tree_model.fit(X_train, y_train)

y_pred_tree = tree_model.predict(X_val)

In [13]:
y_pred_tree[:10]

array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

<h4>Validate Model<h4>

In [14]:
print('Accuracy score: %.2f' % accuracy_score(y_val, y_pred_tree))
print('Precision score: %.2f' % precision_score(y_val, y_pred_tree))
print('Recall score: %.2f' % recall_score(y_val, y_pred_tree))
print('F1 score: %.2f' % f1_score(y_val, y_pred_tree))

Accuracy score: 0.95
Precision score: 0.91
Recall score: 0.82
F1 score: 0.86

In [15]:
from sklearn.metrics import confusion_matrix
print("Confusion Matrix:")
print(confusion_matrix(y_val, y_pred_tree))

Confusion Matrix:
[[32827   600]
 [ 1321  5841]]

<h4>Fine-tune hyperparameter for Decision Tree model<h4>

In [16]:
from sklearn.model_selection import KFold

folds = 5 # Define the number of folds for K-fold cross-validation

kf = KFold(n_splits=folds, shuffle=True, random_state=42) # Initialize the KFold object

# Iterate over each fold
for train_index, test_index in kf.split(X):
    # Split the dataset into training and testing sets for this fold
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    # Define the model (in this example, a decision tree classifier)
    tree_model_kf = DecisionTreeClassifier()
    
    # Train the model on the training data
    tree_model_kf.fit(X_train, y_train)
    
    # Make predictions on the test data
    y_pred = tree_model_kf.predict(X_test)
    
    # Calculate accuracy score for this fold
    accuracy = accuracy_score(y_test, y_pred)
    
    # Append the accuracy score to the list
    accuracy_scores.append(accuracy)

# Calculate the average accuracy across all folds
average_accuracy = sum(accuracy_scores) / k

# Print the average accuracy
print("Average accuracy:", average_accuracy)

<h2>Random Forest<h2>

In [17]:
from sklearn.ensemble import RandomForestClassifier

# Train model
frst_model = RandomForestClassifier()
frst_model.fit(X_train, y_train)

y_pred_frst = frst_model.predict(X_val)

In [18]:
y_pred_frst[:10]

array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

<h4>Validate Model<h4>

In [19]:
print('Accuracy score: %.2f' % accuracy_score(y_val, y_pred_frst))
print('Precision score: %.2f' % precision_score(y_val, y_pred_frst))
print('Recall score: %.2f' % recall_score(y_val, y_pred_frst))
print('F1 score: %.2f' % f1_score(y_val, y_pred_frst))

Accuracy score: 0.96
Precision score: 0.97
Recall score: 0.79
F1 score: 0.87

In [20]:
from sklearn.metrics import confusion_matrix
print("Confusion Matrix:")
print(confusion_matrix(y_val, y_pred_frst))

Confusion Matrix:
[[33267   160]
 [ 1539  5623]]

<h2>Linear Regression<h2>

In [21]:
from sklearn.linear_model import LinearRegression

# Train model
rgs_model = LinearRegression()
rgs_model.fit(X_train, y_train)

y_pred_rgs = rgs_model.predict(X_val)

In [22]:
threshold = 0.5
y_pred_rgs = [1 if pred > threshold else 0 for pred in y_pred_rgs]
y_pred_rgs[:10]

[0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

<h4>Validate Model<h4>

In [23]:
print('Accuracy score: %.2f' % accuracy_score(y_val, y_pred_rgs))
print('Precision score: %.2f' % precision_score(y_val, y_pred_rgs))
print('Recall score: %.2f' % recall_score(y_val, y_pred_rgs))
print('F1 score: %.2f' % f1_score(y_val, y_pred_rgs))

Accuracy score: 0.92
Precision score: 0.93
Recall score: 0.59
F1 score: 0.72

In [24]:
from sklearn.metrics import confusion_matrix
print("Confusion Matrix:")
print(confusion_matrix(y_val, y_pred_rgs))

Confusion Matrix:
[[33088   339]
 [ 2924  4238]]