In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

<h3>Preparing the data<h3>

In [3]:
train = pd.read_csv('data_train.csv')
train #no need to print

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest,Status
0,0,0,0,1,24,1,0,0,1,0,...,0,0,0,0,8,4,5,60,0,0
1,1,0,0,1,28,0,0,0,1,1,...,1,0,0,0,2,6,8,0,-64,0
2,2,0,0,1,36,1,0,0,1,1,...,30,30,1,0,3,2,1,-46,0,0
3,3,0,1,1,35,0,0,0,1,1,...,0,0,0,0,8,6,8,-83,-188,0
4,4,0,1,1,27,0,0,0,1,0,...,0,0,0,0,9,5,4,-58,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202939,202939,0,0,1,29,0,0,0,1,0,...,10,2,0,0,8,6,7,-66,4,0
202940,202940,0,0,1,23,0,0,0,1,0,...,0,0,0,0,11,5,7,0,-84,0
202941,202941,1,1,1,38,0,0,0,1,1,...,0,2,0,1,10,6,6,-57,-16,0
202942,202942,0,1,1,22,0,0,0,1,1,...,0,14,0,0,9,6,7,59,0,0
202943,202943,0,0,1,22,0,0,0,0,0,...,2,2,0,1,5,6,8,-96,0,0

In [4]:
train.info() #Check for null, if there are null - use dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202944 entries, 0 to 202943
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Id                    202944 non-null  int64
 1   HighBP                202944 non-null  int64
 2   HighChol              202944 non-null  int64
 3   CholCheck             202944 non-null  int64
 4   BMI                   202944 non-null  int64
 5   Smoker                202944 non-null  int64
 6   Stroke                202944 non-null  int64
 7   HeartDiseaseorAttack  202944 non-null  int64
 8   PhysActivity          202944 non-null  int64
 9   Fruits                202944 non-null  int64
 10  Veggies               202944 non-null  int64
 11  HvyAlcoholConsump     202944 non-null  int64
 12  AnyHealthcare         202944 non-null  int64
 13  NoDocbcCost           202944 non-null  int64
 14  GenHlth               202944 non-null  int64
 15  MentHlth              202944 non-null  int64
 16  PhysHlth              202944 non-null  int64
 17  DiffWalk              202944 non-null  int64
 18  Sex                   202944 non-null  int64
 19  Age                   202944 non-null  int64
 20  Education             202944 non-null  int64
 21  Income                202944 non-null  int64
 22  ExtraMedTest          202944 non-null  int64
 23  ExtraAlcoholTest      202944 non-null  int64
 24  Status                202944 non-null  int64
dtypes: int64(25)
memory usage: 38.7 MB

<h3>Split into input & output<h3>

In [5]:
X = train.drop(columns=['Status'])
y = train['Status']

In [7]:
y.describe()

count    202944.000000
mean          0.175571
std           0.380455
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Status, dtype: float64

<h3>Prepare the test set<h3>

In [8]:
test = pd.read_csv('data_test.csv')
test

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest,Status
0,202944,1,1,1,30,1,0,1,1,1,...,3,0,0,1,11,4,7,0,-145,NaN
1,202945,0,0,1,27,1,0,0,0,0,...,0,30,1,1,13,2,5,28,-145,NaN
2,202946,0,0,1,21,0,0,0,1,1,...,0,5,0,0,10,6,8,-26,72,NaN
3,202947,0,0,1,24,1,0,0,1,1,...,0,30,0,0,9,6,7,0,0,NaN
4,202948,1,0,1,34,0,0,0,1,1,...,0,1,1,0,11,4,7,-73,-63,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50731,253675,1,0,1,38,0,0,0,1,1,...,2,2,0,0,8,6,7,43,22,NaN
50732,253676,0,1,1,24,0,0,0,1,0,...,25,0,0,0,10,6,7,-6,-67,NaN
50733,253677,1,1,1,31,0,0,1,1,1,...,0,0,1,0,13,5,3,34,100,NaN
50734,253678,1,1,1,24,1,0,0,0,0,...,0,0,1,1,11,5,7,189,100,NaN
50735,253679,1,0,1,22,0,0,0,1,0,...,0,0,0,0,13,4,6,0,-41,NaN

<h3>Split data into train and test<h3>

In [9]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_test = test.drop(columns=['Status'])
y_test = test['Status']

In [10]:
y_test[:10]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: Status, dtype: float64

<h3>Linear Regression<h3>

In [11]:
from sklearn.linear_model import LinearRegression

# Train model
regr_model = LinearRegression()
regr_model.fit(X_train, y_train)

# Plot outputs
print(regr_model.score(X_test, y_test))

ValueError: Input contains NaN.

In [ ]:
y_test[:10], y_pred[:10]

In [15]:
y_pred = regr_model.predict(X_test)

y_pred

array([ 0.01656121, -0.03448485,  0.2336256 , ...,  0.63481248,
        0.78404347,  0.08882867])

In [12]:
regr_model.score??

Signature: regr_model.score(X, y, sample_weight=None)
Source:
    def score(self, X, y, sample_weight=None):
        """Return the coefficient of determination of the prediction.

        The coefficient of determination :math:`R^2` is defined as
        :math:`(1 - \\frac{u}{v})`, where :math:`u` is the residual
        sum of squares ``((y_true - y_pred)** 2).sum()`` and :math:`v`
        is the total sum of squares ``((y_true - y_true.mean()) ** 2).sum()``.
        The best possible score is 1.0 and it can be negative (because the
        model can be arbitrarily worse). A constant model that always predicts
        the expected value of `y`, disregarding the input features, would get
        a :math:`R^2` score of 0.0.

        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            Test samples. For some estimators this may be a precomputed
            kernel matrix or a list of generic objects instead with shape
            ``(n_samples, n_samples_fitted)``, where ``n_samples_fitted``
            is the number of samples used in the fitting for the estimator.

        y : array-like of shape (n_samples,) or (n_samples, n_outputs)
            True values for `X`.

        sample_weight : array-like of shape (n_samples,), default=None
            Sample weights.

        Returns
        -------
        score : float
            :math:`R^2` of ``self.predict(X)`` w.r.t. `y`.

        Notes
        -----
        The :math:`R^2` score used when calling ``score`` on a regressor uses
        ``multioutput='uniform_average'`` from version 0.23 to keep consistent
        with default value of :func:`~sklearn.metrics.r2_score`.
        This influences the ``score`` method of all the multioutput
        regressors (except for
        :class:`~sklearn.multioutput.MultiOutputRegressor`).
        """

        from .metrics import r2_score

        y_pred = self.predict(X)
        return r2_score(y, y_pred, sample_weight=sample_weight)
File:      c:\users\avita v14\anaconda3\lib\site-packages\sklearn\base.py
Type:      method